@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        @apply font-satoshi;
    }
}

@media screen and (min-width: 470px) {
    .products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .product {
        width: 100%;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .container {
        @apply mx-auto px-5;
    }
}

@layer components {
    .product:hover .heart-icon {
        opacity: 1;
    }
}